img {
    width:100%;
}
body {
    background:#000000;
	color: white;
	text-align: center;
}
#a1 {
	background:red;
}
#a2 {
	background:blue;
}
#a1,#a2,tr,td{
	border: 0.2em solid white;
}
 table {
	width:45%;
	margin-left:0%;
	height:100%;
}
a {
	 color:blue;
}
#sasha {
	background:white;
	color:black;
	float:right;
	width:45%;
	height:100%;
}
.what {
	font-size:150%;
}
